
        <div class="page-header">
            <div class="page-title">
                <h4>Mes Réclamations
                </h4>
            </div>
            <div class="page-btn">
                <a [routerLink]="routes.addProduct" class="btn btn-added"
                  ><img src="assets/img/icons/plus.svg" alt="img" class="me-1" />Ajouter une réclamation
                </a>
              </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product </th>
                                    <th>Net Unit Price($)	</th>
                                    <th>Stock</th>
                                    <th>QTY	</th>
                                    <th>Discount($)	</th>
                                    <th>Tax %	 </th>
                                    <th>Subtotal ($)	</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                             
                                <tr *ngIf="tableData.length === 0">
                                    <td colspan="12">
                                      <h5 class="no-record">No matching records found</h5>
                                    </td>
                                  </tr>
                            </tbody>
                        </table>
<custom-pagination></custom-pagination>
                    </div>
                </div>
               
          
            </div>
        </div>
