<!-- Button trigger modal -->

<div class="row">
  <div class="col-lg-12 col-sm-12 col-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header pb-0 d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">Annonces grossistes</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive dataview">
          <ul class="list-group">
            <li *ngFor="let annonce of annonces" class="list-group-item d-flex align-items-center">
              <i class="fas fa-file-alt me-2"></i>
              <a class="annonce-link" href="{{annonce.file}}">{{annonce.titre}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Nombre de Commandes</h5>
      </div>
      <div class="card-body">
        <div id="s-bar" class="chart-set">
          <apx-chart [series]="BarCharts.series" [chart]="BarCharts.chart" [dataLabels]="BarCharts.dataLabels"
            [plotOptions]="BarCharts.plotOptions" [xaxis]="BarCharts.xaxis"></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Nombre de réclamations</h5>
      </div>
      <div class="card-body">
        <div id="chart">
          <apx-chart [series]="Areachart.series" [chart]="Areachart.chart" [xaxis]="Areachart.xaxis"
            [stroke]="Areachart.stroke" [dataLabels]="Areachart.dataLabels" [yaxis]="Areachart.yaxis"
            [labels]="Areachart.labels" [legend]="Areachart.legend"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Nombre de retours</h5>
      </div>
      <div class="card-body">
        <div id="chart">
          <apx-chart [series]="PieChart.series" [chart]="PieChart.chart" [labels]="PieChart.labels"
            [responsive]="PieChart.responsive"></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Top Produits</h5>
      </div>
      <div class="card-body">
        <div id="chart">
          <apx-chart [series]="DistributedChart.series" [chart]="DistributedChart.chart"
            [dataLabels]="DistributedChart.dataLabels" [plotOptions]="DistributedChart.plotOptions"
            [yaxis]="DistributedChart.yaxis" [xaxis]="DistributedChart.xaxis" [legend]="DistributedChart.legend"
            [colors]="DistributedChart.colors" [grid]="DistributedChart.grid"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
