<div class="page-header">
  <div class="page-title">
    <h4>Product Details</h4>
    <h6>Full details of a product</h6>
  </div>
</div>
<!-- /add -->
<div class="row">
  <div class="col-lg-8 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="bar-code-view">
          <img [src]="img" alt="barcode" />
          <a class="printimg">
            <img [src]="img" alt="print" />
          </a>
        </div>
        <div class="productdetails">
          <ul class="product-bar">
            <li>
              <h4>Product name</h4>
              <h6>{{productName}}</h6>
            </li>
            <li>
              <h4>CodePCT</h4>
              <h6>{{codePCT}}</h6>
            </li>
            <li>
              <h4>Code Teriak</h4>
              <h6>{{codeTeriak}}</h6>
            </li>
            <li>
              <h4>Unite par caisse</h4>
              <h6>{{uniteParCaisse}}</h6>
            </li>
            <li>
              <h4>Price</h4>
              <h6>{{prix}}</h6>
            </li>
            <li>
              <h4>Avec vrac</h4>
              <h6>{{avecvrac}}</h6>
            </li>
            <li>
              <h4>Remise</h4>
              <h6>{{remise}}</h6>
            </li>
            <li>
              <h4>Carton</h4>
              <h6>{{carton}}</h6>
            </li>
            <li>
              <h4>vrac</h4>
              <h6>{{vrac}}</h6>
            </li>
            <li>
              <h4>Quantite Totale</h4>
              <h6>{{quantiteTotale}}</h6>
            </li>
            <li>
              <h4>Montant Apres Remise</h4>
              <h6>{{montantApresRemise}}</h6>
            </li>
            <li>
              <h4>Disponible</h4>
              <h6>{{disponible}}</h6>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="slider-product-details">
          <!-- <div class="owl-carousel owl-theme product-slide">
             -->
          <owl-carousel-o class="owl-theme product-slide" [options]="customOptions">
            <ng-template carouselSlide>
              <div class="slider-product">
                <img [src]="img" alt="img" />
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div carouselSlide class="slider-product">
                <img [src]="img" alt="img" />
              </div>
            </ng-template>
          </owl-carousel-o>

          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /add -->
